<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Frode Myklebust">
		<title><%= title %></title>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="css/materialize.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="js/rartist.js"></script>
		<script src="js/materialize.js"></script>
	</head>
	<body class="white">
		
		<nav>
			<div class="nav-wrapper light-blue darken-4">
				<div class="container">
					<a href="#" class="brand-logo">rartist</a>
					<a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="https://github.com/famyklebust/rartist">GitHub</a></li>
					</ul>
					<ul class="side-nav" id="mobile-nav">
						<li id="nav-header" class="light-blue darken-4"></li>
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="https://github.com/famyklebust/rartist">GitHub</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div id="full-height-hero" class="valign-wrapper">
			<div class="container">
				<div class="row">
					<div id="full-height-hero-content" class="col l12 m12 s12 center-align">
						<h1 class="white-text valign">rartist</h1>
						<p class="flow-text white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit et leo sit amet consectetur. Praesent pretium consequat ante sit amet eleifend. Duis ultricies lacus nibh, vitae aliquam quam molestie ut.</p>
						<%if (!lastfmUser) { %>
						<a id="full-height-hero-button" class="btn-large red" href="#lastfm-modal"><i class="material-icons left">settings</i>Set Last.fm username</a>
						<a id="full-height-hero-button" class="btn-large disabled  light-blue" href="#"><i class="material-icons left">play_arrow</i>Get recommendations</a>
						<% } %>
						<%if (lastfmUser) { %>
						<a id="full-height-hero-button" class="btn-large green" href="#lastfm-modal"><i class="material-icons left">person</i><%= lastfmUser %></a>
						<a id="full-height-hero-button" class="btn-large light-blue" href="/recommend"><i class="material-icons left">play_arrow</i>Get recommendations</a>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		
		<div id="lastfm-modal" class="modal">
			<div class="modal-content center">
				<h4 class="">What's your Last.fm username?</h4>
				<div class="divider"></div>
				<p class="flow-text left-align">It's difficult to recommend music without knowing what you like. Set your Last.fm username below, and we're off. You can always change it later.</p>
				<div id="modal-row" class="row">
					<form action="/" method="post" class="col l6 m8 s12 offset-l3 offset-m2">
						<div id="modal-row" class="row">
							<div class="input-field">
								<input name="username" type="text" class="validate">
								<label for="username" class="left-align">Last.fm username</label>
							</div>
							<button name="action" type="submit" id="modal-button" class="modal-action modal-close btn green">Set username</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<%if (topArtists) { %>
		<div id="album-row" class="row">
			<% for(var i=0; i<topArtists.length; i++) { %>
			<div class="col l4 m6 s6">
				<div class="card">
					<div class="card-image">
						<img src="http://placehold.it/350x150">
						<span class="card-title"><%= topArtists[i].name %></span>
					</div>
				</div>
			</div>
			<% } %>
		</div>
		<% } %>
		
	</body>
</html>